{% extends "layout/layout.html" %}
{% block style %}
    <link href="{{ url_for('static', path='/css/admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="columns">
            <div class="column is-3">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Dashboard</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Users Settings</a></li>
                        <li><a>Tracks Settings</a></li>
                    </ul>
                    <p class="menu-label">
                        Logs
                    </p>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, Admin.
                            </h1>
                            <h2 class="subtitle">
                                I hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ users_count }}</p>
                                <p class="subtitle">Users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ tracks_count }}</p>
                                <p class="subtitle">Tracks</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ total_listening_minutes }}</p>
                                <p class="subtitle">Listening minutes</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ num_unique_tags }}</p>
                                <p class="subtitle">Tags</p>
                            </article>
                        </div>
                    </div>
                </section>
                {#---------------------------#}
                {% block section %}
                {% endblock %}
                {#---------------------------#}
            </div>
        </div>
    </div>
{% endblock %}