{% extends "layout.html" %}
{% block style %}
    <link href="{{ url_for('static', path='/css/register.css') }}" rel="stylesheet">{% endblock %}
{% block title %}Log in{% endblock %}

{% block content %}
    <section class="hero is-fullheight">
        <div class="hero-body columns is-multiline">
            <div class="column is-6 is-offset-3 cardStyle">
                <div class="columns">
                    <div class="column left has-text-centered">
                        <h1 class="title is-1">Puntify</h1>
                        <h2 class="subtitle colored is-4 ">Create the perfect playlist for any occasion, and enjoy
                            high-quality audio streaming.</h2>
                        <p>The app features a user-friendly interface, with a large collection of songs, albums, and
                            playlists to choose from.</p>
                    </div>
                    <div class="column right has-text-centered">
                        <h1 class="title is-4">Log in today</h1>
                        {% if error %}
                            <p class="error" style="height: 26px; margin-top: 0.5rem; margin-bottom: 0.5rem">{{ error }}</p>
                        {% else %}
                            <p style="height: 26px; margin-top: 0.5rem; margin-bottom: 0.5rem"></p>
                        {% endif %}

                        <form method="post">

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Email" name="username"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="password" placeholder="Password"
                                               name="password" required>
                                    </label>
                                </div>
                            </div>
                            <button id="submit" class="button is-block is-primary is-fullwidth is-medium">Submit
                            </button>
                            <br/>
                            <small>
                                <em>No account yet ? </em>
                                <a href="{{ url_for('sign_in') }}">Sign up</a>
                            </small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



