{% extends "layout.html" %}
{% block style %}
    <link href="{{ url_for('static', path='/register.css') }}" rel="stylesheet">{% endblock %}
{% block title %}Test{% endblock %}

{% block content %}
    <section class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 register">
                <div class="columns">
                    <div class="column left">
                        <h1 class="title is-1">Puntify</h1>
                        <h2 class="subtitle colored is-4">Create the perfect playlist for any occasion, and enjoy
                            high-quality audio streaming.</h2>
                        <p>The app features a user-friendly interface, with a large collection of songs, albums, and
                            playlists to choose from.</p>
                    </div>
                    <div class="column right has-text-centered">
                        <h1 class="title is-4">Log on today</h1>
                        <p class="description">#ERRMSG if Needed</p>
                        <form method="post">
                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Email" name="username" required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Password" name="password" required>
                                    </label>
                                </div>
                            </div>
                            <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>
                            <br/>
                            <small><em>Sign up.</em></small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

