{% extends "layout.html" %}
{% block style %}
    <link href="{{ url_for('static', path='/css/register.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Add a track{% endblock %}

{% block content %}
    <section class="hero is-fullheight">
        <div class="hero-body column">
            <div class="column is-4 is-offset-4 cardStyle">
                <div class="column p-6">

                    <div class="has-text-centered">
                        <h1 class="trackTitle">Add a track</h1>
                        <p id="error" class="is-invisible error"></p>
                        <form>
                            <div class="field">
                                <label class="label">Select a file</label>
                                <div class="control">
                                    <div class="columns">
                                        <div class="column is-4 is-offset-4 has-text-centered">
                                            <div id="dropZone" class="zone has-text-centered">
                                                <div class="content">
                                                    <span class="icon is-large"><i id="iconDropZone"
                                                                                   class="fa-solid fa-file-arrow-up fa-2xl"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="File name"
                                               name="fileName"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Music Title"
                                               name="musicTitle"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Artist name"
                                               name="artistName"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Duration"
                                               name="trackDuration" disabled>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Click for cover</label>
                                <div class="control">
                                    <div class="columns ">
                                        <div class="column is-4 is-offset-4 has-text-centered">
                                            <div id="coverFM" class="content zone search">
                                                    <span class="icon is-large"><i class="fa-solid fa-hand-point-up fa-2xl"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button id="submitButton" class="button is-block is-primary is-fullwidth is-medium mt-4">
                                    Submit
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <input class="is-hidden" type="text" name="duration" id="duration">
        <input class="is-hidden" type="file" name="cover" id="cover">
    </section>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='/js/addTrack.js') }}"></script>
{% endblock %}

