{% extends "layout/templateLayout.html" %}


{% block title %}Add tracks{% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', path='/css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block section %}
    <div class="container">
        <section>
            <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                    <table id="users-table" class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th>Favorites</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for track in tracks %}
                            <tr id="{{ track['_id'] }}">
                                <td class="trackName">{{ track['trackName'] }}</td>
                                <td class="artistName">  {{ track['artistName'] }}</td>
                                <td class="duration">{{ track['duration'] }}</td>
                                <td class="favorites">

                                    {% if track["_id"] in current_user['tracks'] %}
                                        {% set star_icon = 'fa-solid' %}
                                        {% set is_favorite = true %}
                                    {% else %}
                                        {% set star_icon = 'fa-regular' %}
                                        {% set is_favorite = true %}
                                    {% endif %}
                                    <div class="{{ star_icon }} fa-star fa-xl" style="color: #00D1B2;"
                                         onclick="changeFavorite(this, '{{ track["_id"] }}')"
                                         data-is-favorite="{{ is_favorite }}"></div>
                                </td>
                                <td class="is-actions-cell">
                                    <div class="buttons is-right">
                                        <button class="button is-small is-primary update-track" type="button">
                                            <i class="fa-regular fa-circle-play fa-sm player-button"
                                               data-track-id="{{ track['_id'] }}"
                                               data-track-artist="{{ track['artistName'] }}"
                                               data-track-name="{{ track['trackName'] }}"
                                               data-track-duration="{{ track['duration'] }}"
                                               style="color: #ffffff;"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="columns">
                <div class="column is-one-fifth">
                    <button class="button is-rounded is-large" id="play-pause-button" disabled>
              <span class="icon" style="margin-left: 0 !important;">
                <i class="fas fa-play" id="play-pause-button-icon"></i>
              </span>
                    </button>
                </div>
                <div class="column">
                    <progress class="progress is-primary" max="100" value="0" id="track-progress-bar"></progress>
                    <h1 id="track-metadata"></h1>
                </div>
                <div class="column is-one-fifth">
                    <button class="button is-rounded is-large" id="stop-button" disabled>
              <span class="icon" style="margin-left: 0 !important;">
                <i class="fas fa-stop"></i>
              </span>
                    </button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='js/track/listenTracks.js') }}"></script>
    <script src="{{ url_for('static', path='js/track/favorites.js') }}"></script>
{% endblock %}