{% extends "layout/templateLayout.html" %}

{% block title %}Profil{% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', path='/css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block section %}
    <section class="hero is-primary welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hello, {{ current_user['firstName'] }}.
                </h1>
                <h2 class="subtitle">
                    I hope you are having a great day!
                </h2>
            </div>
        </div>
    </section>

    <section>

        <div class="hero-body column is-8 is-offset-2">
            <div class="cardStyle">
                <div class="column p-6">
                    <div class="has-text-centered">
                        <p id="error" class="error is-invisible m-4"
                           style="height: 26px; margin-top: 0.5rem; margin-bottom: 0.5rem"></p>
                        <form id="registerForm">
                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="First name"
                                               name="firstName" value="{{ current_user['firstName'] }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="text" placeholder="Last name"
                                               name="lastName" value="{{ current_user['lastName'] }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="email" placeholder="Email" name="email"
                                               required value="{{ current_user['email'] }}" disabled>
                                    </label>
                                </div>
                            </div>

                            <div class=" field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="password" placeholder="Password"
                                               name="passwd">
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input is-medium" type="password" placeholder="Confirmation"
                                               name="passwConfirmation">
                                    </label>
                                </div>
                            </div>
                            <button id="submitBtn" class="button is-block is-primary is-fullwidth is-medium mt-4">
                                Submit
                            </button>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', path='js/user/profil.js') }}"></script>
{% endblock %}
